
*{
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
 /**navbar**/
nav{
  height: 75px;
  width: 100%;
  background-color: #2d3d6c;
  display: flex;
  justify-content: space-between;
}
.logo-container{
  display: flex;
  align-items: center;
  width: auto;
  margin: 0;
  
}
.logo{
  height: 70px;
}
.logo-txt{
  font-size: 30px;
  line-height: 75px;
  padding-left: 10px;
  font-weight: bold;
  color: #dbe0f0;
}
.logo-txt:hover{
  cursor: pointer;
}

.nav-list{
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 75px;
  background: #2d3d6c;
  float: right;
  text-align: center;
  transition: all .5s;
  padding-right: 30px;
}
.nav-list li{
  opacity: 0;
  line-height: 30px;
  margin: 25px 0;
  transition: all .5s;
}
.nav-list li a{
  color: #dbe0f0;
  text-decoration: none;
  font-size: 20px;
}
.nav-list li a.active, .nav-list li a:hover{
  color: #93a3d2;
  transition: .5s ease;
}
.hamburger-btn{
  display: block;
  font-size: 30px;
  color: #93a3d2;
  float: right;
  line-height: 75px;
  margin-right: 40px;
  cursor: pointer;
}
#check{
  display: none;
}
#check:checked ~ .nav-list{
  height: 50vh;
}
#check:checked ~ .nav-list li{
  opacity: 1;
}
/**navbar ends**/



/**cards**/
.theme-text {
  color: #2d3d6c;
}

.card-img-top {
  height: 320px;
  width: 100%;
}

.hero-header{
  background-color: #2d3d6c;
}
#lrn-btn:hover{
  background-color: #93a3d2;
}
#card-btn{
  background-color: #2d3d6c;
}

/**cards ends**/

/**Why choose us**/
.feature{
  background-color: #2d3d6c;
}
/**Why choose us end**/

.faqs-title{
  color: #2d3d6c;
}
.newsletter{
  background-color: #2d3d6c;
}
.cont-newsletter{
  border-bottom: 1px solid rgba(256, 256, 256, .1);
}

/*Clients Review start**/
.testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.testimonial-heading{
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-heading span{
  font-size: 3.2rem;
  font-weight: 500;
  color: #2d3d6c;
}
.testimonial-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.testimonial-box{
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.profile-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile{
  display: flex;
  align-items: center;
}
.name-user{
  display: flex;
  flex-direction: column;

}
.name-user strong{
  color: #2d3d6c;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.name-user span{
  color: #93a3d2;
  font-size: 0.8rem;
}
.reviews{
  color: #2d3d6c;
  text-shadow: 4px 4px 10px #4b4b4b;
}
.box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.client-comment p{
  font-size: 0.9rem;
  color: #4b4b4b;
}
.testimonial-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}


/**Clients Review End*/

/**footer**/
.footer{
  background-color: #2d3d6c;
  margin: auto;
}

.footer .brand{
  text-decoration: none;
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255,255,255,.5);
  border: 1px solid rgba(256, 256, 256, .1);
  border-radius: 40px;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color:#2d3d6c;
}


.footer .btn.btn-link {
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
  color: rgba(255,255,255,.5);
  font-weight: normal;
  transition: .3s;
}

.footer .btn.btn-link:hover {
  color: #FFFFFF;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 14px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  text-decoration: none;
  color: rgba(255,255,255,.5);
}

.footer .copyright a:hover {
  color: #FFFFFF;
}

.footer .footer-menu a {
  text-decoration: none;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
/**footer ends**/


/*Navbar responsiveness*/
@media only screen and (min-width: 900px) {

  
  .logo{
    margin-left: 100px;
  }

  nav{
    height: 100px;
  }
  .hamburger-btn{
    display:none;
  }
  .nav-list{
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    float: right;
    text-align: right;
    margin-right: 25px;
    transition: none;
  }
  .nav-list li{
    display: inline-block;
    opacity: 1;
    line-height: 100px;
    margin: 0 20px;
    transition: none;
  }
  .nav-list li a.active, .nav-list li a:hover{
   
    color: #93a3d2;
  }
}

@media(max-width:1060px){
  .testimonial-box{
    width: 45%;
    padding: 10px;
  }
}
@media(max-width:790px){
  .testimonial-box{
    width: 100%;
  }
  .testimonial-heading h1{
    font-size: 1.4rem;
  }
}
@media(max-width:340px){
  .box-top{
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .reviews{
    margin-top: 10px;
  }
}
